#primario{
	width: 100%;
	margin-left: 34%;
	text-align: center;
}

#secundario{
	text-align: center;
	background-color: #FFF; 
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	color: #555;
	width: 50%;
	margin: 20px;
	padding: 20px;
	line-height: 40px;
}

body{
	background-color: #00CE9D;
}

header{
	font-family: 'Shadows Into Light', cursive;
	min-height: 150px;
	text-align: center;
	box-sizing: border-box;/*Tamaño de la caja debe incluir los bordes y todo*/
	padding: 20px;
	margin: 0px;
	line-height: 20px;
	vertical-align: center;
	font-size: 32px;
}

.button{
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}

